.main-div{
	
	
	width: 800px;
	


}
div h1{
	
	text-align: center;
    color: red;
    background-color: #ddd;
    width: 800px;
    height: 60px;
    align-items: center;
    align-content: center;
    
    margin-bottom: 50px;
    border-radius: 10px;

}
.header{

	background-color: red;
	width: 800px;
	height: 100px;
	text-align: center;
	font-size: 30px;
	align-items: center;
	align-content: center;

}
.wrapper{
	overflow: hidden;



}
.left-div{
	width: 70%;
	background-color: pink;
	
	float: left;
	align-content: center;
	color: black;
	text-align: center;
	font-size: 50px;
	height: 300px;


}
.right-div{
		width: 30%;
	background-color: lightblue;
	
	float: right;
	align-content: center;
	color: black;
	text-align: center;
	font-size: 30px;
	height: 300px;


}
.footer{
		width: 100%;
	background-color: black;
	height: 100px;
	
	align-content: center;
	color: white;
	text-align: center;
	font-size: 30px;

}

.wrapper2{
	overflow: hidden;


}
.w-1{
	width: 266.66px;
	background-color: blue;
	float: left;
	height: 200px;
	text-align: center;
	align-content: center;
	font-size: 30px;
}
.w-2{
	width: 266.66px;
	background-color: lightblue;
	float: left;
	height: 200px;
	text-align: center;
	align-content: center;
	font-size: 30px;
}
.w-3{
	width: 266.66px;
	background-color: green;
	float: left;
	height: 200px;
	text-align: center;
	align-content: center;
	font-size: 30px;
}
.section{
	width: 90%;
	overflow: hidden;
}
.youtube{
	overflow: hidden;
	
	
}
.youtube p{
	font-family: sans-serif;
	font-size: 50px;
	font-weight: 600px;
}
.video-1{
	float: left;
	margin-right: 35px;
	margin-bottom: 20px;
	margin-left: 20px;

}
.video-2{
	float: left;
	margin-bottom: 20px;
}
.video-3{
	float: left;
	margin-right: 35px;
	margin-bottom: 20px;
	margin-left: 20px;

}
.video-4{
	float: left;
	
}
.map p{
	font-size: 40px;
	font-family: sans-serif;
	font-weight: 600px;

}




